body{ /*set the background color to lightblue. */
    background-color: lightblue;
}
header{
    border-style: double;
    border-left-color: green;
    border-bottom-color: red;
    border-right-color: blue;
    border-width: 5px;
    background-color: lightsteelblue
}

.link-all{ /*this is the CSS for the hyperlinks for the internal pages. */
    text-align: center;
    border-style: solid;
    margin-left: 25%;
    margin-right: 25%;
    border-width: 10px;
    border-radius: 22px;
    border-color: black;
    color:blue;
}

.div-links{ /* this is the CSS for the  div, it is presented on all the pages. */
    text-align: center;
    font-size: xx-large;
}

#title1{ /* This is the CSS for the page titles presented on each page. */
    text-align: center;
    font-family:georgia;
}
#title2{
    text-align:center;
    font-family:georgia;
}
#title3{
    text-align: center;
    font-family:georgia;
}
#title4{
    text-align: center;
    font-family:georgia;
}

table{ /* this is the CSS for the table, it has the CSS for all the contents on each page as well. */
    border-style: ridge;
    margin-left: 600px;
    border-width: 10px;
    margin-top: 50px;
}
tr,td{
    border-style: solid;
    padding: 4px;
}

.p-img{
    height: 100px;
    width: 100px;
    border-style: groove;
    border-color:red;
}
.d-img{
    height: 100px;
    width: 100px;
    border-style: groove;
    border-color: green;
}
.m-img{
    height: 100px;
    width: 100px;
    border-style: groove;
    border-color: blue;
}

ul{ /* this is the CSS for the ul, it has the CSS for all the contents on each page as well. */
    float:right;
    margin-top: -360px;
    position: relative; right: 700px;
    border-style: dotted;
    border-width: 10px;
}
.pedal-title{
    font-size: 50px;
    font-style: italic;
}
.equip-title{
    font-size: 50px;
    font-style: italic;
}
.li-p{
    font-size: 25px;
    font-family: impact;
}
.li-d{
    font-size: 25px;
    font-family: impact;
}
.li-m{
    font-size: 25px;
    font-family: impact;
}

form{ /* this is the CSS for the form, it is presented on all pages. */
    float:right;
    margin-top: -180px;
    position: relative; right:100px;
    border-style: ridge;
    border-color: darkblue;
}

#p-title{ /* this is the CSS for the Pitchfork page, it contains the title, image, and text. */
    font-size: xx-large;
    text-align: center;
    font-family: sans-serif;
    color: red;
}
#pitch-img{
    margin-left: 800px;
    border-style: solid;
    border-radius: 10px;
    border-color: red;
}
#p-text{
    text-align: center;
    font-size: xx-large;
    font-style: bolder;
}

#d-title{ /* this is the CSS for the DS-1 page, it contains the title, image, and text. */
    font-size: xx-large;
    text-align: center;
    font-family: sans-serif;
    color: green;
}
#ds1-img{
    margin-left: 850px;
    border-style:solid;
    border-radius: 25px;
    border-color: green;
}
#d-text{
    text-align: center;
    font-size: xx-large;
    font-style: bolder;
}

#x-title{ /* this is the CSS for the mixer page, it contains the title, image, and text. */
    font-size: xx-large;
    text-align: center;
    font-family: sans-serif;
    color: blue;
}
#x-img{
    height: 250px;
    margin-left: 840px;
    border-style:solid;
    border-radius: 10px;
    border-color: blue;
}
#x-text{
    text-align: center;
    font-size: xx-large;
    font-style: bolder;
}